* {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 20px;
    background: url(logo.png) no-repeat center;
    width: 144px;
    height: 108px;
}

h1 span {
    display: none;
}

#navigation {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
}

#content {
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    margin-left: 190px;
    border-left: 1px solid #A7D7F9;
    border-bottom: 1px solid #A7D7F9;
}

.sep_up {
    padding-top: 40px;
    margin-left: 190px;
    left: -1px;
    height: 40px;
    background: url(gradient_top.png) no-repeat bottom left;
}

.buttonToggle {
    padding: 2px 8px;
}

.chartTab {
    min-height: 200px;
}

.ui-tabs {
    border: none !important;
    background: none !important;
}

.ui-tabs-nav {
    background: none !important;
    border: none !important;
}

.ui-tabs-panel {
    background: #F6F6F6 !important;
    border: 1px solid #8898BF !important;
}

.ui-tabs-anchor {
    font-size: 16px;
    color: #242424 !important;
}

.ui-tabs-nav *:focus {
    outline: none !important;
}

.ui-tabs-nav li {
    border: 1px solid #8898BF !important;
    border-bottom: none !important;
    background: #d3d3d3 !important;
}

.ui-tabs-nav li.ui-tabs-active {
    background: url(gradient_tab_button.png) #F6F6F6 repeat-x !important;

}
